/*=====================================================================
                            HABILIDADES
  =====================================================================*/
#skills{
    min-height:100vh;
    display:flex;
    justify-content:center;
    align-items:center;
    padding:8rem 2.5rem;
}
.skill-container{
    width:100%;
    max-width:1200px;
}
.skill-title{
    margin-bottom:4rem;
}
.skill-title h2{
    font-family:var(--font-title);
    font-size:clamp(2.2rem,4vw,3.5rem);
    color:var(--textoprincipal);
}
.skill-tree{
    position:relative;
    width:700px;
    height:700px;
    margin:auto;
}
.decagon{
    width:150px;
    aspect-ratio:1;
    display:flex;
    justify-content:center;
    align-items:center;
    background: transparent;
    border: 3px solid var(--doradorunico);
    box-shadow: 0 0 10px rgba(212,175,55,.15);
    clip-path:polygon(
        50% 0%,
        79% 10%,
        97% 35%,
        97% 65%,
        79% 90%,
        50% 100%,
        21% 90%,
        3% 65%,
        3% 35%,
        21% 10%
    );
}
.decagon img{
    width:78px;
}
.decagon-id{
    width:42px;
    height:26px;
    margin:auto;
    margin-top:-4px;
    display:flex;
    justify-content:center;
    align-items:center;
    font-family:var(--font-skill);
    font-size:.9rem;
    color:var(--doradorunico);
    border:2px solid var(--doradorunico);
    border-radius:6px;
    background:var(--fondoprincipal);
}
.circle{
    width:88px;
    aspect-ratio:1;
    display:flex;
    justify-content:center;
    align-items:center;
    border-radius:50%;
    background:var(--glass);
    border:2px solid rgba(255,255,255,.12);
    backdrop-filter:blur(12px);
    box-shadow:
        inset 0 0 10px rgba(255,255,255,.03),
        0 0 14px rgba(0,0,0,.4);
}
.circle img{
    width:46px;
}
.circle-id{
    width:42px;
    height:24px;
    margin:auto;
    margin-top:-3px;
    display:flex;
    justify-content:center;
    align-items:center;
    background:var(--fondoprincipal);
    border:2px solid var(--doradorunico);
    border-radius:5px;
    color:var(--doradorunico);
    font-size:.85rem;
    font-family:var(--font-title);
}