:root {
    /* Fondos */
    --fondoprincipal: #0f172a;
    --fondosecundario: #17233d;
    /* Tipografía */
    --textoprincipal: #F8FAFC;
    --textosecundario: #CFCFEA;
    /* Tecnología */
    --azumagico: #119DA4;
    --azulbrillante: #0C7489;
    /* Destacados */
    --doradorunico: #D4AF37;
    --verdearbol: #214E34;
    /*Talvez*/
    --naranja: #F77F00;
    /* Sombras e iluminación*/
    --shadow-blue: rgba(17, 157, 164, .25);
    --shadow-gold: rgba(212, 175, 55, .20);
    --glass: rgba(23, 35, 61, .55);
    /*Tipografia*/
    --font-title: "Sora", sans-serif;
    --font-text: "Inter" sans-serif;
    --font-skill: "Cinzel", serif;
}
*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    min-height: 100vh;
    background-color: var(--fondoprincipal);
    background-image:
        /*Iluminación superior*/
        radial-gradient(circle at top left,
            rgba(17, 157, 164, .08),
            transparent 35%),
        /*Iluminación inferior*/
        radial-gradient(circle at bottom right,
            rgba(12, 116, 137, .05),
            transparent 40%),
        /* Profundidad */
        radial-gradient(circle at center,
            rgba(255, 255, 255, .015),
            transparent 70%);
    background-attachment: fixed;
    /*Evito que el fondo se mueva con el contenido*/
    /*Si decido cambiar un día a IMAGENES*/
    background-repeat: no-repeat;
    background-size: cover;
    color: var(--textoprincipal);
}
body::before {
    content: "";
    position: fixed;
    inset: 0;
    background:
        radial-gradient(circle,
            rgba(255, 255, 255, .015) 1px,
            transparent 1px);
    pointer-events: none;
    /* Evita que el pseudo-elemento capture los clics e interfiera con un posible boton*/
    z-index: -1;
    /* Controla el orden de las capas -1 enviar detras de las demás*/
}
/*=====================================================================
                                NAVBAR
  =====================================================================*/
.header-landing {
    position: fixed;
    /*Decimos que se fije y no se mueva al hacer scroll*/
    top: 1rem;
    /*Evitamos que toque el borde*/
    left: 0;
    /*Le decimos que empiece desde el borde izquierdo*/
    width: 100%;
    /*Le decimos que ocupe todo el ancho del navegador*/
    z-index: 1000;
}
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 80px;
    max-width: 1200px;
    margin: auto;
    padding: 0 2.5rem;
    border-radius: 999px;
    background: var(--glass);
    /*Esta linea ya me da el color de la navbar*/
    backdrop-filter: blur(12px);
    /*backdrop-fliter permite que lo que está detras del elemento se vea desenfocado*/
    border: 1px solid rgba(255, 255, 255, .08);
    /*añadimos el borde*/
    box-shadow: 0 8px 40px var(--shadow-blue);
    /*box-shadow(desplazamiento en x, desplazamiento en y, desenfoque, color)*/
    transition: .3s ease;
    /*anima los cambios de las propiedaddes para que ocurran de forma suave*/
}
.nav-cv {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: .75rem 1.5rem;
    border-radius: 999px;
    text-decoration: none;
    font-weight: 600;
    color: var(--textoprincipal);
    cursor: pointer;
    transition: .3s ease;
}
.nav-list {
    display: flex;
    gap: 2rem;
    list-style: none;
}
.nav-list img {
    width: 48px;
}
.nav-list a {
    display: flex;
    align-items: center;
    gap: .5rem;
    text-decoration: none;
    color: var(--textoprincipal);
    padding: .75rem;
    border-radius: 50%;
    transition: .3s ease;
}
/*=====================================================================
                        ESTADOS DE LA NAVBAR
  =====================================================================*/
.nav-cv:hover {
    transform: translateY(-2px);
    box-shadow: 0 10px 25px var(--shadow-blue);
}
.nav-list a:hover {
    background: rgba(17, 157, 164, .08);
    box-shadow: 0 0 18px var(--shadow-blue);
}
.nav-list span {
    display: none;
}
/*=====================================================================
                        ACCESIBILIDAD NAVBAR
  =====================================================================*/
.nav-list a:focus-visible,
.nav-cv:focus-visible {
    outline: 3px solid var(--doradorunico);
    outline-offset: 4px;
    border-radius: 50px;
}
/*=====================================================================
                                ACERCA DE MÍ
  =====================================================================*/
#about{
    padding:8rem 2.5rem;
}
.about-container{
    max-width:1200px;
    margin:auto;
}
.about-title{
    width:fit-content;
    margin-left:auto;
    margin-bottom:3rem;
}
.about-title h2{
    font-family:var(--font-title);
    font-size:clamp(2.4rem,4vw,3.4rem);
    color:var(--textoprincipal);
    margin-bottom:.8rem;
}
.about-phrase{
    width:430px;
    text-align:right;
    font-family:var(--font-text);
    color:var(--textosecundario);
    line-height:1.6;
}
.about-body{
    display:grid;
    grid-template-columns:320px 1fr;
    gap:3rem;
    align-items:center;
}
.imagen{
    display:flex;
    justify-content:center;
    transform: translateY(-95px);
}
.photo{
    width:290px;
    max-width:100%;
    opacity:.65;
    filter:
        grayscale(100%)
        brightness(1.25)
        contrast(.75);
    transition:.35s ease;
}
.about-content{
    max-width:700px;
}
.about-content p{
    font-family:var(--font-text);
    color:var(--textosecundario);
    font-size:1.08rem;
    line-height:2;
    margin-bottom:1rem;
}
.about-content p:first-child{
    color:var(--textoprincipal);
    font-weight:600;
    font-size:1.18rem;
}
/*=====================================================================
                        ESTADOS DEL ACERCA DE MÍ
  =====================================================================*/
.photo:hover{
    opacity:.9;
    transform:translateY(-4px);
}
.about-title h2::after{
    content:"";
    display:block;
    width:90px;
    height:3px;
    margin-top:12px;
    margin-left:auto;
    border-radius:999px;
    background:linear-gradient(
        90deg,
        var(--azumagico),
        transparent
    );
}