:root{
    --fondoprincipal: #0f172a;
    --fondosecundario: #17233d;
    --textoprincipal: #F8FAFC;
    --textosecundario: #CBD5E1;
    --azumagico: #38BDF8;
    --azulbrilante: #60A5FA;
    --doradorunico: #D4AF37;
}